
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}
body {
  background-color: hsl(47, 88%, 63%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-top: 50px;
 
}
.main {
  border: 1px;
  border-radius: 10px;
  width: 320px;
  padding: 20px;
  background-color: hsl(0, 0%, 100%);
  color: black;
  border-style: solid;
  border-right: 5px solid hsl(0, 0%, 7%);
  border-bottom: 5px solid hsl(0, 0%, 7%);
  box-shadow: 2px 2px;
}
.btn {
  border: 1px;
  background-color: hsl(47, 88%, 63%);
  border-radius: 5px;
  margin-top: 20px;
  display: block;
  padding: 5px;
  font-weight: bold;
}
.para {
  display: block;
  margin-top: 10px;
  font-size: 13px;
  font-weight: 500;
  

}
.title {
  font-size: larger;  
  margin-top: 10px;
  font-weight: 800;
}
.para1 {
  margin-top: 10px;
  color: hsl(0, 0%, 42%);
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}
.end {
  display: flex;
  gap: 10px;
  margin-top: 5px;

}
.enttitle {
  margin-top: 15px;
  font-weight: bolder;
}
.end-img {
  margin-top: 10px;
}
